@media only screen and (min-width: 32.5em) {
 
    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 20px;
    }

    header, footer, footer a {
        border-radius: 10px;
    }

    header img {
        box-shadow: 0 0 30px #888888;
         float: right;
         border-radius: 0 10px 0 0;
    }
    
    header {
        height: 60px;
           }
    
    }