* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: black;
}

h1, h2 {
    font-family: 'Lora';
}

h1 {
    font-size: 18px;
    color: white;
    margin: 0.70em 0;
}

h2 {
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #bbb;
}

header {
    margin: 1.25rem auto;
    padding: .5rem;
    height: 200px;
    max-width: 600px;
}

main {
    
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 600px;
}

footer {
    
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 600px;
}

header, footer, footer a {
    text-align: center;
    vertical-align: middle;
    background-color: blue;
    color: whitesmoke;
    line-height: 15px;
}

header img {
    width: 150px;
    height: auto;
}

footer {
    font-size: 12px;
}
#lastupdated {
    color: yellow;
    font-size: 9px;
}