    nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }
nav {
  width: 60%;
  
}
header {
    width: 40%;
}

nav ul {
    padding: 20px 0;
}
nav ul li a {
    font-size: 18px;
}
nav button {display: none;}

nav ul.hide {display: flex;}


article:nth-child(3) {
    grid-column: span 2;
}
main picture {
    display: block;
}
main picture img {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
}
main section {
    display: flex;
}

main section h2 {
    margin: 10px;
    padding: 10px;
    
}
.side {
    display: flex;
    flex-direction: row;
    width: 100%;
	margin: 0 auto;
}
.googlemaps {
    flex-direction: row;
}
.address {
    flex-direction: row;
}
.sitea {
    width: 50%;
}
.siteb {
    width: 50%;
}
.gallery {
    grid-template-columns: repeat(2, 1fr)    }
.tableforecast {
    display: block;
    width: 70%;
    margin-left: 15px;
 
}

.vehicle_samples {
    display: flex;
    flex-direction: row;
    max-width: 900px;
   
}

.vehicle_samples picture img {
     border: none;
     width: auto;
}
.weather_info {
    display: flex;
}
.stats {
    width: 30%;
    margin-left: 0px;
}
.fleet {
    grid-template-columns: repeat(2, 1fr) 
}
.rental_title {
    font-size: 40px;
}
.table_title {
    font-size: 35px;
}
.rental_agreement ul {
     grid-template-columns: repeat(2, 1fr)
     

}
.rental_agreement li {
    width: 50%;
}
.coolpics {
  flex-direction: row;
  flex-wrap: wrap;
}

