body {
	font-size: 16px;
	font-family: $fontFamily2;
}

header {
	max-width: 1200px;
	background-color: $Colorpallet2;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;
}


footer {
	width: 100%;
	background-color: $Colorpallet2;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 2px;
    font-family: $fontFamily3;
}
footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}
header,
nav,
footer {
width: 100%;
margin: 0 auto;	
}

main {
	max-width: 900px;
	margin: 0 auto;
}

h1 {
	color: whitesmoke;
	font-size: 40px;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
h2 {
	color: whitesmoke;
	font-size: 12px;
}

nav {
	background-color: $Colorpallet2;
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 20px;
}
nav a:hover {
	background-color: $Colorpallet5;
	color: #36454f;
}
nav ul.hide {display: none;}
.active {
	color: $Colorpallet1;
}

button {
	border-radius: 10px;
	font-size: 20px;
	margin-bottom: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
	font-size: 0.8rem;
	max-width: 900px;
    
}

main section h2 {
color: black;
}
main section {
	
	width: auto;
    text-align: center;
    margin: 30px;
    border: 1px solid #bbb;
    padding: 0 1rem;
	background-color: #eee;
	border-radius: 15px;
}

main section picture img {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
    margin-top: 10px;
}
.thankyou {
	text-align: center;
	margin: 250px 20px 250px 20px;
}
.thankyou img {
	margin-right: auto;
	margin-left: auto;
}
.thankyou p {
	
	text-align: center;
	font-size: 25px;
}
.confirmation {
	text-align: center;
	margin: 250px 20px 250px 20px;
}
.confirmation h3{
font-size: 25px;
}
.confirmation p {
	font-size: 15px;
}


footer p {
	color: whitesmoke;
	font-size: 15px;
}

.headings {
    display: flex;
    flex-direction: column;
}

.m {
    font-size: 12px;
    margin-left: 10px;
	font-family: $fontFamily1;
	color: white;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .contactinformation {
	  background-color: $Colorpallet3;
		margin: 20px;
		border-radius: 15px;
		border: 4px solid $Colorpallet2;
  }

  .contactinformation img {
	  width: 65px;
	  height: auto;
	  margin: 10px;
	  
	 
  }

  .googlemaps {
	  display: flex;
	  flex-direction: column;
  }
.embmap {
	margin: 15px;
	border-radius: 15px;
}
.address {
	display: flex;
	flex-direction: column;
}
.sitea {
	padding: 10px;
	width: 100%;
	text-align: center;
}
.sitea h2 {
	font-size: 25px;
	color: black;
}

.siteb {
	padding: 10px;
	width: 100%;
	text-align: center;
}

.siteb h2 {
	font-size: 25px;
	color: black;
}

.sitea p {
	font-size: 15px;
}

.siteb p {
	font-size: 15px;
}


.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

form fieldset {
    margin: 2rem 0;
    border: 4px solid $Colorpallet2;
    border-radius: 10px;
	padding: .5rem 2%;
	font-size: 20px;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;

}

form legend {
	color: $Colorpallet1;
    margin: 0 1rem;
	padding: 0 .5rem;
	

}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: $Colorpallet1;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1.2rem;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    max-width: 900px;
	width: 300px;
	background-color: rgba(0,0,0,0.1);

}

form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
article {
	
	text-align: center;
	width: 100%;
	background-color: $Colorpallet3;
	max-width: 900px;
	border-radius: 15px;
	border: 4px solid $Colorpallet2;

}
.rental_agreement ul {
	text-align: left;
	display: grid;
	column-gap: 10px;
	grid-template-columns: repeat(1, 1fr);
	width: 90%;
}
.rental_agreement ul li {
	font-size: 15px;
	width: 100%;
} 
.rental_agreement {
	margin-bottom: 25px;
}
.rental_agreement h3 {
	font-size: 25px;
}




form input.submitBtn {
	border: none;
	font-size: 15px;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}

.cozumel_history {
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    color: white;
	background-color: $Colorpallet1;
}

	.history_section h2 {
	color: black;
	font-size: 25px;
	text-align: center;
	}
	.history_section {
		width: 100%;
		display: grid;
		width: auto;
		text-align: left;
		margin: 0.5rem;
		border: 4px solid $Colorpallet2;
		padding: 0 1rem;
		background-color: $Colorpallet3;
		border-radius: 15px;
	}
	
	.history_section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
		margin-top: 10px;
	}
	.what_to_do {
		display: grid;
		width: auto;
		text-align: left;
		margin: 0.5rem;
		border: 4px solid $Colorpallet2;
		padding: 0 1rem;
		background-color:$Colorpallet3;
		border-radius: 15px;
	}
	
	.what_to_do h2 {
		color: black;
		font-size: 25px;
		text-align: center;
		}

		.gallery {
			margin: 0em;
			display: grid;
			justify-items: center;
			grid-template-columns: repeat(1, 1fr);
			width: 100%;
		}
		
		.gallery figure img {
			 width: 100%;
			 border-radius: 10px;
			 border: solid 4px #9c2c13;
			 
		}
		.gallery figure img[data-src] {
			filter: blur(0.2em);
		 }
		 .gallery figure figcaption {
			 font-size: 15px;
			 font-weight: 600;
			 text-align: center;
			 margin: 1em;
			 padding: .5em;
			 margin: auto;
			 
		 }

		 .shadow {
			transition: transform .2s;
			margin: 0 auto;
		 }
		 .shadow:hover {
			-ms-transform: scale(1.5); /* IE 9 */
			-webkit-transform: scale(1.5); /* Safari 3-8 */
			transform: scale(1.2);
		 }

		 .tableforecast {
			text-align: center;
			margin: 10px auto;
			padding: 5px;  
			color: #444;
			font-style: italic;
			display: none;
			border: 5px solid $Colorpallet2;
			border-radius: 15px;
			background-color: $Colorpallet3;
		
		}

		.index_table {
			margin: auto;
			width: 500px;
		}

		.index_table,.index_th,.index_td {
			border-spacing: 10px;
			padding: 5px;			
		}
		.index_th {
			border: 3px solid $Colorpallet2;
			background-color: $Colorpallet4;
			border-radius: 10px;
			font-size: 1rem;
			font-weight: 700;
			color: $Colorpallet1;
		}
		.index_td {
			border: 3px solid $Colorpallet2;
			background-color: $Colorpallet5;
			border-radius: 10px;
			font-size: 0.8rem;
			text-align: center;
			
			
		}

		

		.vehicle_samples {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
		}

		
		.vehicle_samples picture img {
			margin: 5px;
			padding: 5px;
		}


		.vehicle_title p {
			font-weight: 600;
			text-align: center;
			font-size: 20px;
		}
		.stats {
			display: grid;
			background-color: $Colorpallet3;
			border: 5px solid $Colorpallet2;
			text-align: center;
			line-height: 1px;
			padding: 1rem;
			border-radius: 15px;
			}
		.contact_the_site img {
			width: 45px;
			padding: 5px;
			margin: 0px;
		}
		.box {
			
			background-color: #9c2c13;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			margin-top: 25px;
			margin-bottom: 10px;
			padding: 10px;
			font-size: 20px;
			border-radius: 15px;
			color: white;
			
		}
		.callaction {
			text-decoration: none;
			color: white;
		}

			
		#rental_table {
			border-collapse: collapse;
			margin-top: 0px;
			margin-bottom: 40px;
			margin-right: auto;
			margin-left: auto;
			}
		 #rental_table, th, td {
			 border: 3px solid #9c2c13;
		 }
		 #rental_table thead {
			 font-size: 60px;
		 }
		 #rental_table th, td {
			 text-align: center;
			 height: 35px;
		 }
		 #rental_table th {
			 background-color: $Colorpallet3;
			 font-size: 15px;
	  
		 }
		 
		 #rental_table tr {
			 background-color: #e7f0ed;
		 }
		 
		 #rental_table thead th{
			 font-size: 15px;
		 }

.fleet {
    margin: 0em;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}
.rental_title {
	text-align: center;
	font-size: 30px;
	color: #9c2c13;
}	
.table_title {
	text-align: center;
	font-size: 25px;
	color: #9c2c13;
}
.coolpics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 20px;

}
.coolpics figcaption{
	text-align: center;
	font-weight: 600;

}
.footmap {
    text-decoration: none;
    color: white;

}
