$Colorpallet1: #561d25;
$Colorpallet2: #ce8147;
$Colorpallet3: #ecdd7b;
$Colorpallet4: #d3e298;
$Colorpallet5: #cde7be;

$fontFamily1: 'Fondamento', cursive;
$fontFamily2: 'Roboto', sans-serif;
$fontFamily3: 'Times New Roman', Times, serif;
